.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid $primaryColor;
  color: $primaryColor;
  height: 51px;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
  gap: 0.8vw;
  padding: 16px 21px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
