.title {
  position: relative;
  z-index: -1;

  h1 {
    font-weight: bold;
    font-size: 22px;
    color: $primaryColor;
    letter-spacing: 2.21px;
    // width: 61vw;
    // width: 50%;
    // min-width: 300px;
    // max-width: 340px;
    // min-height: 50px;
  }

  .shadowTitle {
    position: absolute;
    top: -10px;
    left: -12px;

    h2,
    img {
      position: absolute;
    }

    h2 {
      font-size: 40px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.08);
      letter-spacing: 4.2px;
    }

    img {
      width: 90px;
      left: -14px;
      top: -6px;
      opacity: 23%;
    }
  }
  hr {
    margin-top: 10px;
    height: 3px;
    border-radius: 2px;
    width: 60px;
  }
  @include large {
    h1 {
      font-size: 26px;
      letter-spacing: 2.73px;
    }
    .shadowTitle {
      position: absolute;
      top: -21px;
      left: -10px;
      h2 {
        font-size: 70px;
        letter-spacing: 7.35px;
      }
    }
    hr {
      margin-top: 36px;
      height: 4px;
      width: 60px;
    }
  }
}

@include large {
  .titleBig {
    h1 {
      font-size: 40px;
      max-width: 650px;
      width: 26.45vw;
      letter-spacing: 4.2px;
    }

    .shadowTitle {
      position: absolute;
      top: -10px;
      left: -12px;
      h2,
      img {
        position: absolute;
      }

      h2 {
        font-size: 105px;
        top: -22px;
        left: -20px;
        letter-spacing: 11px;
      }

      img {
        width: 118px;
        left: -36px;
        top: -15px;
        opacity: 23%;
      }
    }
    hr {
      margin-top: 28px;
      height: 5px;
      width: 75px;
    }
  }
}
