//The background image of the front page
.homeBackground {
  min-height: calc(500px + $headerHeightMobile);
  background-image: url('/images/homeBackground.jpg');
  z-index: -1;
}

//Main CSS of the page
.home {
  height: 100%;
  display: flex;
  flex-direction: column;

  & section:first-child {
    background-color: transparent;
  }

  section {
    background-color: $tertiaryColor;
    justify-content: flex-start;
    align-items: flex-start;
    div.headerSection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 25px;
      @include large {
        flex-direction: row;
        align-items: baseline;
        width: 100%;
        row-gap: 0;
        height: 100px;
      }
    }
  }

  article {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

//The first section, main Title and three arguements
.homeSection {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 500px;

  @include large {
    flex-direction: row;
    align-items: center;
    gap: 18vw;
  }

  .titleArticle {
    height: 35%;

    .discordText {
      max-width: 500px;
      text-align: justify;
      letter-spacing: 0.4px;
    }

    @include large {
      .discordText {
        font-size: 20px;
        letter-spacing: 1.2px;
      }

      height: 50%;
    }
  }

  .argumentsArticle {
    height: 50%;

    @include large {
      height: 80%;
    }

    .argumentContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1.6vh;

      @include large {
        gap: 2vh;
      }
    }
  }

  button {
    width: 193px;
    height: 45px;
    gap: 3.9vw;
    border-radius: 30px;

    img {
      width: 27px;
      height: 20px;
    }

    p {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1.44px;
    }

    font-size: 20px;

    @include large {
      width: 239px;
      height: 60px;
      gap: 1.4vw;

      img {
        width: 34px;
        height: 25px;
      }

      p {
        font-size: 24px;
      }
    }
  }

  .howToPlayButton {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.575px;
    color: $primaryColor;
    text-align: left;

    @include large {
      font-size: 16px;
      letter-spacing: 1.68px;
    }
  }

  .goToTheNextSectionButton {
    display: flex;
    align-items: center;
    color: $primaryColor;
    font-size: 14px;
    letter-spacing: 0.49px;
    gap: 16px;

    img {
      width: 16px;
      height: 9px;
    }

    @include large {
      position: absolute;
      left: 10svw;
      bottom: 4svh;
    }
  }
}

//The network section
section.networkSection {
  article {
    height: 126px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .informationsArticle {
      letter-spacing: 1px;
      font-size: 16px;
      width: 60%;
    }
  }
}

.lighterBackgroundColor {
  background-color: $tertiaryColorLigther;
}
