.saveAndCancelFormButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  position: absolute;
  top: -2rem;
  width: 100%;

  button {
    position: relative;
    &:hover {
      .tooltip {
        visibility: visible;
      }
    }
  }
  .saveButton:disabled {
    cursor: not-allowed;
  }
}

.form .saveAndCancelFormButtonsContainer {
  top: 0;
}
