.arguments {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  height: 60px;
  background-color: $tertiaryColor;
  border-radius: 7px;
  .argumentsIcon {
    width: 22px;
    height: 23px;
  }
  .argumentsTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    h2 {
      font-size: 16px;
      letter-spacing: 0.72px;
    }
    p {
      display: none;
    }
  }
}

@include large {
  .arguments {
    // width: 27.6vw;
    min-width: 350px;
    height: 120px;
    border-radius: 15px;
    .argumentsIcon {
      width: 34px;
      height: 35px;
    }
    .argumentsTextContainer {
      gap: 0.5rem;
      max-width: 75%;

      p {
        display: block;
        font-size: 15px;
        color: $quaternaryColor;
        letter-spacing: 0.6px;
      }
    }
  }
}
