.headerContainer {
  height: $headerHeightMobile;

  .header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerHeightMobile;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(21, 23, 29, 0.1);
    backdrop-filter: blur(10px);
    padding: 0 7vw;
    background-image: url('/assets/headerBackgroundMobile.svg');
    background-size: cover;
    background-position: center;
    .secondaryColorBorder{
      width: 160px;
    }
    .headerButtonsContainer {
      display: none;
    }
    .headerBurger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: $tertiaryColor;
      width: 35px;
      height: 36px;
      border-radius: 5px;
      .headerBurgerLine {
        width: 19px;
        height: 2px;
        border-radius: 1px;
        background-color: $secondaryColor;
        transition: transform 0.3s ease-in-out;
      }
      .headerBurgerLineOpenOne {
        transform: rotate(45deg) translate(2.5px, 2.5px);
      }
      .headerBurgerLineOpenTwo {
        display: none;
      }
      .headerBurgerLineOpenThree {
        transform: rotate(-45deg) translate(2.5px, -2.5px);
      }
    }
  }
}

@include large {
  .headerContainer {
    height: $headerHeightMedium;
    .header {
      padding: 0 2.6vw;
      height: $headerHeightMedium;
      .headerButtonsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5vw;
      }
      .headerBurger {
        display: none;
      }
    }
  }
}
