header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 107px;
  background-color: black; // provisoire

  a.active {
    text-decoration: underline;
    text-decoration-color: $secondaryColor;
  }

  .headerButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
}
