.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 107px;

  a.active {
    text-decoration: underline;
    text-decoration-color: $secondaryColor;
  }

  .headerButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
}

.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../../images/headerBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
