$primaryColor: white;
$secondaryColor: #20c997;
$tertiaryColor: #15171d;
$tertiaryColorLigther: lighten($tertiaryColor, 4%);
$quaternaryColor: #b8bfd7;
$quinaryColor: #575e74;
$senaryColor: #1e2026;
$septenaryColor: #d64343;
$octonaryColor: #6badea;

$headerHeightMobile: 123px;
$headerHeightMedium: 107px;

$footerHeight: 90px;
